<div class="card-container-02">
  <h3>About Me</h3>
  <p style="font-size: 1em;">Hello There!! My name is Lucas Souza and I'm a Developer with proficiency in FullStack
    technologies, such as
    Angular, C#, and SQL.
    Fluent in English, with intermediate proficiency in Spanish and basic knowledge of French acquired during my stint
    in Vancouver. In addition I have full-cycle experience that covers infrastructure, computer networks and
    development.
    On the front-end, I create dynamic interfaces, working with screens design, components and other essential aspects
    of web development. On the back-end, I have knowledge in creating and maintaining APIs, using Swagger to ensure
    documentation and integrity over time. In addition, I manipulate databases, ensuring efficiency and the security of
    data. I am always up to date with the latest technologies and market trends, which allows me to bring
    innovation and efficiency to the projects I work on.
  </p>
  <p> My main goal is to always deliver agile and intelligent solutions.</p>
</div>
<div class="card-container-02">
  <h3>My Skills</h3>
  <h5>PRIMARY SKILLS</h5>
  <div class="d-flex-02">
    <div class="mini-card-container-02">
      <button>Angular</button>
    </div>
    <div class="mini-card-container-02">
      <button>C#</button>
    </div>
    <div class="mini-card-container-02">
      <button>Swagger</button>
    </div>
    <div class="mini-card-container-02">
      <button>Postgres</button>
    </div>
    <div class="mini-card-container-02">
      <button>DBeaver</button>
    </div>
  </div>
  <h5>SECONDARY SKILLS</h5>
  <div class="d-flex-02">
    <div class="mini-card-container-02">
      <button>Python</button>
    </div>
    <div class="mini-card-container-02">
      <button>Java</button>
    </div>
    <div class="mini-card-container-02">
      <button>MySQL</button>
    </div>
    <div class="mini-card-container-02">
      <button>Linux</button>
    </div>
    <div class="mini-card-container-02">
      <button>Scrum</button>
    </div>
    <div class="mini-card-container-02">
      <button>GIT</button>
    </div>
    <div class="mini-card-container-02">
      <button>Azure</button>
    </div>
    <div class="mini-card-container-02">
      <button>MySQL</button>
    </div>
    <div class="mini-card-container-02">
      <button>MongoDB</button>
    </div>
    <div class="mini-card-container-02">
      <button>UI/UX</button>
    </div>
  </div>
</div>