.card-container-02{
    padding: 4em;
    margin: 3em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 25px;
    border-radius: 1em;
    max-width: 30em;
}
h3{
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 25px;
    border-radius: 1em;
    font-size: 1.3em;
}