<div class="card-container-02 "  style="margin-top: 80px;">
  <h3>About Me</h3>
  <p style="font-size: 1em;" class="p-grey">Hello There!! My name is Lucas Souza and I'm a Developer with proficiency in
    FullStack
    technologies, such as
    Angular, C#, and SQL.
    Fluent in English, with intermediate proficiency in Spanish and basic knowledge of French acquired during my stint
    in Vancouver. In addition I have full-cycle experience that covers infrastructure, computer networks and
    development.
    On the front-end, I create dynamic interfaces, working with screens design, components and other essential aspects
    of web development. On the back-end, I have knowledge in creating and maintaining APIs, using Swagger to ensure
    documentation and integrity over time. In addition, I manipulate databases, ensuring efficiency and the security of
    data. I am always up to date with the latest technologies and market trends, which allows me to bring
    innovation and efficiency to the projects I work on.
  </p>
  <p class="p-grey"> My main goal is to always deliver agile and intelligent solutions.</p>
  <div class="d-flex-03">
    <a href="https://www.linkedin.com/in/lucas-vieira-souza-0435b1260/" class="td-none">
      <div class="mini-card-container-02">
        <button>
          <img matTooltip="LinkedIn" src="../assets/icons8-linkedin.svg" alt="LinkedIn">
        </button>
      </div>
    </a>
    <div class="mini-card-container-02" (click)="Email()">
      <button>
        <img matTooltip="Email" src="../assets/icons8-gmail-novo.svg" alt="Email" class="w-45">
      </button>
    </div>
    <div class="mini-card-container-02" (click)="WhatsApp()">
      <button>
        <img matTooltip="WhatsApp" src="../assets/icons8-whatsapp.svg" alt="WhatsApp">
      </button>
    </div>
  </div>

</div>
<div class="card-container-02">
  <h3>My Skills</h3>
  <h5>PRIMARY SKILLS</h5>
  <div class="d-flex-02">
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="Angular" src="../assets/file-type-angular.svg" alt="Angular" class="w-45">
      </button>
    </div>
    <div class="mini-card-container-02" style="padding-right: 1.8em;">
      <button>
        <img matTooltip="Typescript" src="../assets/icons8-texto-datilografado.svg" alt="Typescript"
          style="width: 50px;border-radius: 5em;">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="C#" src="../assets/icons8-c.svg" alt="C#">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="Postgres" src="../assets/icons8-postgres.svg" alt="Postgres">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="DBeaver" src="../assets/icons8-dbeaver.svg" alt="DBeaver" class="w-45">
      </button>
    </div>
  </div>
  <h5>SECONDARY SKILLS</h5>
  <div class="d-flex-02">
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="JavaScript" src="../assets/javascript-js.svg" alt="JavaScript" class="w-45"
          style="border-radius: 0.5em;">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="Python" src="../assets/icons8-python.svg" alt="Python">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="Java" src="../assets/icons8-logo-java-coffee-cup.svg" alt="Java">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="MySql" src="../assets/icons8-mysql.svg" alt="MySql" class="w-45">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="Linux" src="../assets/linux-original.svg" alt="Linux" class="w-45">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="Swagger" src="../assets/swagger.svg" alt="Swagger" class="w-45">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="Git" src="../assets/icons8-git.svg" alt="Git">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="Azure" src="../assets/icons8-azure.svg" alt="Azure" class="w-45">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="Azure DevOps" src="../assets/azure-devops-color.svg" alt="Azure DevOps" class="w-45">
      </button>
    </div>
    <div class="mini-card-container-02">
      <button>
        <img matTooltip="MongoDB" src="../assets/mongodb-original.svg" alt="MongoDB" class="w-45">
      </button>
    </div>
  </div>
</div>