// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Include the common styles for Angular Material.
@include mat.core();

// Define the theme object.
$portfolio-lucas-theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            density: (scale: 0,
            )));

// Include theme styles for core and each component used in your app.
:root {
    @include mat.all-component-themes($portfolio-lucas-theme);
    --cor-pry: #efa300;
    --cor-pry-bg: #efa300;
    --cor-pry-border: 3px solid #efa300;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #232428;
}

* {
    color: #fbfcfd;
    text-align: justify;
}

.mark {
    color: var(--cor-pry);
}

.p-grey {
    color: #afb0b4;

    & li {
        color: #afb0b4;
    }
}

.card-container {
    padding: 4em;
    margin: 5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 60px;
    border-radius: 1em;
    max-width: 55em;
}

.profile-picture {
    width: 15em;
    border-radius: 50%;
}

.d-flex {
    display: flex;
    align-items: flex-start;
}

.margin-01 {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.fs-10 {
    font-size: 2.6em;
}

.fs-09 {
    font-size: 2em;
}

.btn-github {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    border: none;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    border-radius: 100px;
    font-weight: 800;
    place-content: center;
    padding: 0.75rem 1rem;
    font-size: 0.825rem;
    line-height: 1rem;
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
        inset 0 0 0 1px rgba(255, 255, 255, 0.04);
    color: #fff;
}

.btn-github:hover {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
        inset 0 0 0 1px rgba(252, 232, 3, 0.08);
    color: #fce803;
    transform: translate(0, -0.25rem);
    background-color: rgba(255, 255, 255, 0.16);
}

.button-02 {
    font-size: 0.9em;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: var(--cor-pry-border);
    background-color: transparent;
    border-radius: 0.5em;
    position: relative;
    box-shadow: 0 2px 10px rgba(48, 29, 29, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--cor-pry);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.button-02:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--cor-pry-bg);
    z-index: -1;
}

.button-02:hover,
.button-02:focus {
    color: white;
}

.button-02:hover:before,
.button-02:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.button-02:active {
    transform: scale(0.9);
}

.button-container-02 {
    display: flex;
    gap: 1em;
    margin: 3em;
    margin-left: 0em;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mini-card-container-03 {
    padding: 1.2em;
    padding-right: 1.6em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 25px;
    border-radius: 1em;
    transition: 0.3s;
    max-width: 20em;
    width: 14em;
    gap: 2em;


    & button {
        background-color: transparent;
        color: #ffffff;
        border: 0px solid;
        text-align: center;
    }

    & p {
        text-align: left !important;

    }
}

.mini-card-container-04 {
    display: flex;
    align-items: center;
    gap: 1em;
}

.ft-1 {
    font-size: 1.5em
}

.d-flex-05 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}

.w-01 {
    width: 45px;
}

.td-none{
    text-decoration: none;
}

@media (max-width: 1775px) {
    .card-container-02 {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 25px;
        border-radius: 1em;
        max-width: 40em;
    }
    .card-container {
        max-width: 85em;
        width: 85em;
    }
    .ft-1{
        font-size: 1.2em;
    }
}

@media (max-width: 1615px){
    .button-02{
        font-size: 0.7em;
    }
    .mark{
        font-size: 0.8em;
    }
    .card-container {
        max-width: 75em;
        width: 75em;
    }
}

@media (max-width: 1559px) {
    .button-02{
        font-size: 0.65em;
    }
    .btn-github{
        font-size: 0.75em;
    }
    h3{
        font-size: 1em;
    }

}

@media (max-width: 1366px) {
    .d-flex {
        display: flex;
        gap: 0.6em;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-container {
        margin-bottom: 1em;
        max-width: 85em;
        width: 85em;
    }
}

@media (max-width: 1024px) {
    .card-container {
        padding: 2em;
        margin: 2em;
        max-width: 50em;
    }

    .profile-picture {
        width: 12em;
    }

    .fs-10 {
        font-size: 2.2em;
    }

    .fs-09 {
        font-size: 1.8em;
    }

    * {
        font-size: 1em;
    }
    .mark {
        font-size: 1em;
    }
    .exp{
        font-size: 1.5em;
    }

    .button-container-02 {
        display: flex;
        gap: 1em;
        margin: 3em;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .button-container-02 {
        display: flex;
        gap: 1em;
        margin: 3em;
        margin-left: 0em;
        margin-right: 0em;
        flex-wrap: wrap;
        flex-direction: column;
    }

    * {
        font-size: 1.02em;
    }
}

@media (max-width: 768px) {
    // .card-container {
    //     margin: 2em;
    //     max-width: 45em;
    // }
    .mini-card-container-03 {
        max-width: 45%;
        padding: 1em;
        gap: 1.5em;
      }

    .profile-picture {
        width: 10em;
    }

    .fs-10 {
        font-size: 1.8em;
    }

    .fs-09 {
        font-size: 1.6em;
    }

    * {
        font-size: 1.01em;
    }

}

@media (max-width: 480px) {
    .card-container {
        padding: 1em;
        margin: 1em;
        max-width: 100%;
    }
    .mini-card-container-03 {
        max-width: 100%;
        padding: 0.8em;
        gap: 1em;
      }
    
      .d-flex-05 {
        gap: 1em;
      }

    .profile-picture {
        width: 8em;
    }

    .fs-10 {
        font-size: 1.5em;
    }

    .fs-09 {
        font-size: 1.3em;
    }
}

@media (max-width: 360px) {
    .card-container {
        padding: 0.5em;
        margin: 0.5em;
    }

    .profile-picture {
        width: 6em;
    }

    .fs-10 {
        font-size: 1.2em;
    }

    .fs-09 {
        font-size: 1em;
    }
}

// animations

.card-container {
    opacity: 0;
    animation: slideInFromBottom 1s forwards;
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  