
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$portifolio-lucas-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($portifolio-lucas-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($portifolio-lucas-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($portifolio-lucas-theme);

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(39, 39, 39);
}

* {
    color: #FFFFFF;
    text-align: justify;
}

.mark{
    color: #d89b6e;
}

.card-container {
    padding: 4em;
    margin: 5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 25px;
    border-radius: 1em;
    max-width: 55em;
}

.profile-picture {
    width: 15em;
    border-radius: 50%;
}

.d-flex {
    display: flex;
    align-items: flex-start;
}

.margin-01 {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.fs-10 {
    font-size: 2.6em;
}

.fs-09 {
    font-size: 2em;
}

.btn-github {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    border: none;

    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    border-radius: 100px;
    font-weight: 800;
    place-content: center;

    padding: 0.75rem 1rem;
    font-size: 0.825rem;
    line-height: 1rem;

    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
        inset 0 0 0 1px rgba(255, 255, 255, 0.04);
    color: #fff;
}

.btn-github:hover {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
        inset 0 0 0 1px rgba(252, 232, 3, 0.08);
    color: #fce803;
    transform: translate(0, -0.25rem);
    background-color: rgba(255, 255, 255, 0.16);
}

/* From Uiverse.io by adamgiebl */
.button-02 {
    font-size: 0.9em;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #d89b6e;
    background-color: transparent;
    border-radius: 0.5em;
    position: relative;
    box-shadow: 0 2px 10px rgba(48, 29, 29, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #d89b6e;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.button-02:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #d89b6e;
    z-index: -1;
}

.button-02:hover,
.button-02:focus {
    color: white;
}

.button-02:hover:before,
.button-02:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.button-02:active {
    transform: scale(0.9);
}

.button-container-02 {
    display: flex;
    gap: 1em;
    margin: 3em;
    margin-left: 0em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
